body {
    font-family: sans-serif;margin: 0;
}
header{background-image: url(https://i.postimg.cc/VkJZ2vBL/images-3.jpg);
background-repeat: no-repeat;
background-size: cover;height: 150px;
padding: 10px;
}
img{width:600px; height:100px;}
   
 .photo{height: 50px;width: 50px; }
 h1{color: #f8f8f8;text-align: center;}

 .logo1{height: 75px; width: 65px;
 float: left;margin:10px}
 .logo2{height: 75px;width: 65px;float: right;margin:10px}
 .logo3{height: 75px;width: 65px;float: right;margin: 10px;}
 p {line-height: 25px;}
main{margin: 10px;}
a{text-decoration: none;
color: black;
font-weight: 900;
border:1px solid black;
border-radius: 10px;
padding:10px;}
